= form_for(@fornecedor) do |f|
  - if @fornecedor.errors.any?
    #error_explanation
      %h2
        = pluralize(@fornecedor.errors.count, "error")
        prohibited this fornecedor from being saved:
      %ul
        - @fornecedor.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :nome
    = f.text_field :nome, class: "form-control"
  .form-group
    = f.label :cidade
    = f.text_field :cidade, class: "form-control"
  .form-group
    = f.label :produtos
    %br/
    - tem_produto = lambda {|p| @fornecedor.produtos.include? p}
    = select_tag 'produtos', options_from_collection_for_select(@produtos, 'id', 'nome', tem_produto),{:multiple => true, :id => "fornecedor_produtos", "data-placeholder" => "Selecione os produtos..."}
 
  .actions
    = f.submit  params[:action] == "new" ? "Criar Fornecedor" : "Atualizar Fornecedor", class: "btn btn-primary" 