.container
  %h2 Esqueceu sua senha?
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
    = devise_error_messages!
    %div
      = f.label :email
      %br/
      = f.email_field :email, :autofocus => true
    %div= f.submit "Me mande instrucoes de redefinicao de senha"
  = render "devise/shared/links"
