.container
  %h1 Fornecedores achados
  - if !@fornecedores.empty?
    %table.table
      %tr
        %th Nome
        %th Cidade
        %th Produtos
        %th
        %th
      - @fornecedores.each do |fornecedor|
        %tr
          %td= fornecedor.nome
          %td= fornecedor.cidade
          %td= raw produtos_html(fornecedor, @produtos_sel)
          %td
            = link_to fornecedor_analises_path(fornecedor), class: "btn btn-default" do
              %span.glyphicon.glyphicon-eye-open
              Ver Analises
          %td
            = link_to  new_fornecedor_analise_path(fornecedor), class: "btn btn-default" do
              %span.glyphicon.glyphicon-pencil
              Escrever Analise

  - else
    Nenhum fornecedor foi achado com esses dados!
