.container
  %h1 Fornecedores achados
  - if !@fornecedores.empty?
    %table.table
      %tr
        %th Nome
        %th Cidade
        %th Produtos
        %th
        %th
      - @fornecedores.each do |fornecedor|
        %tr
          %td= fornecedor.nome
          %td= fornecedor.cidade
          %td= raw produtos_html(fornecedor, @produtos_sel)
          %td= link_to 'Ver Analises', fornecedor_analises_path(fornecedor)
          %td= link_to 'Escrever Analise', new_fornecedor_analise_path(fornecedor)
  - else
    Nenhum fornecedor foi achado com esses dados!
