= form_for(@produto) do |f|
  - if @produto.errors.any?
    #error_explanation
      %h2
        = pluralize(@produto.errors.count, "error")
        prohibited this produto from being saved:
      %ul
        - @produto.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :nome
    = f.text_field :nome, class: "form-control"
  .form-group
    = f.submit params[:action] == "new" ? "Criar Produto" : "Atualizar Produto", class: "btn btn-primary" 